<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <header class="grad">
  <div class="header-element"><a href="/"><i class="fa fa-arrow-left arrow" aria-hidden="true"></i></a></div>
  <div class="header-element"><h2 class="wl light">REGISTER</h2></div>
  <div class="header-element"> <%= f.submit "Sign up", class:"wl light action"  %></div>
  </header>
  <div class="box white">
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="last field ">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
<% end %>
