<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <header class="grad">
  <div class="header-element"><a href="/"><i class="fa fa-arrow-left arrow" aria-hidden="true"></i></a></div>
  <div class="header-element"><h2 class="wl light">LOGIN</h2></div>
  <div class="header-element"> <%= f.submit "Log in", class:"wl light action"  %></div>
  </header>
  <div class="box white">
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="last field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
      <% end %>
      </div>
      <%= render "devise/shared/error" %>
      <% end %>
