  <%= form_with model: @deductible, class: "deductible-form", url: '/deductibles/create' do |f| %>
  <header class="grad">
  <div class="header-element"><a href="javascript:history.go(-1)"><i class="fa fa-arrow-left arrow" aria-hidden="true"></i></a></div>
  <div class="header-element"><h3 class="wl light">CREATE DEDUCTIBLE</h3></div>
  <div class="header-element"> <%= f.submit "Save", class: "wl light action" %></div>
  </header>
  <div class="white box">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true %>
  </div>
  <div class="last field">
<%= f.label :f, "Categories" %>
</div>
<div class="field b">
  <% current_user.categories.each_with_index do |n, index| %>
  <label for="category" + <%= n.id.to_s %> ><%= n.name %></label>
<input value=<%= n.id %> class="checkbox" id=<%= n.id.to_s %> name="picks[]" type="checkbox">
    <% end %>
    </div>

    <div class="last field">
    <%= f.label :amount %>
    <%= number_field_tag :amount, 0.01, min: 0.01, step: 0.01 %>
  </div>
    </div>
      </div>
    <%= render "devise/shared/error" %>
  <% end %>
</div>
